.buttonAll{
    -fx-font-size: 20px;
    -fx-padding: 20px;
    -fx-background-color: #00B1E2;
    -fx-min-height: 70px;
    -fx-min-width: 200px;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.buttonAccueil{
    -fx-font-size: 15px;
    -fx-padding: 15px;
    -fx-min-height: 50px;
    -fx-min-width: 85px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.buttonSpecific{
    -fx-font-size: 16px;
    -fx-padding: 14px;
    -fx-background-color: #00A0CC;
    -fx-min-height: 15px;
    -fx-min-width: 70px;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

.buttonSpecific:hover{
    -fx-background-color: #2980b9;
}

.buttonAll:hover{
    -fx-background-color: #2980b9;
}

.buttonAccueil:hover{
	-fx-background-color: #E6E6E6;
}

.paneForm{
	-fx-background-radius: 20px;
	-fx-background-color: #00B1E2;
}

.labelAll{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field {
	-fx-background-radius: 5px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.text-field:focused {
    -fx-border-color: #2980b9;
    -fx-background-radius: 5px;
}

.date-picker .arrow-button {
    -fx-background-color: #00B1E2;
}

.date-picker .button {
	-fx-font-size: 5px;
    -fx-padding: 5px;
    -fx-background-color: #00B1E2;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.date-picker .button:hover {
	 -fx-background-color: #2980b9;
}

.table-view {
    -fx-background-color: #ffffff;
}

.table-view .column-header {
    -fx-background-color: #00B1E2;
    -fx-text-fill: white;
}

.table-cell {
    -fx-text-fill: #333333;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.table-row-cell:hover {
    -fx-background-color: #d4d4d4;
}

.table-row-cell:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}